<!doctype html>
<html>
  
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  
  <style>
      .container {

      }
      
      .row {
        
      }
      
      .right{
        float:right;
        text-align:right;

      }
  </style>
  
  <script type="text/javascript">
      var confirmCheck = false;
    
      function authSendOnclick() {
        alert("전송하였습니다.");
        document.getElementById("btnConfirm").disabled = false;
      }
  </script>
  
</head>

<body>
 
  <%- include ../partials/navigation.ejs %>

  <script>
    var doc = document.querySelector('link[rel="import"]').import;
    // Grab DOM from doc.html's document.
    var text = doc.querySelector('.navbar navbar-default');
    document.body.appendChild(text.cloneNode(true));
  </script>

    

      <div class="container">
        나의 회선번호<span class="badge right">010-29**-49**</span>
        <p></p>
        <div class="panel panel-primary">
          <div class="panel-heading">
            가입정보<span class="badge right"><a href="/cust_info/vas_list">더보기</a></span>
          </div>
          <div class="panel-body">
              <div>고객명<span class="right"><%=cust_name%></span></div>
              <div>최종개통유형<span class="right"><%=last_scrb_type%></span></div>
              <div>최종개통일자<span class="right"><%=last_sctb_dt.substr(0,4)+'.'+last_sctb_dt.substr(4,2)+'.'+last_sctb_dt.substr(6,2)%></span></div>
              <div>단말정보<span class="right"><%=eqp_mdl_nm%></span></div>
          </div>  
        </div>
        
        <div class="panel panel-success">
          <div class="panel-heading">
            요금 상품
          </div>
          <div class="panel-body">
              <div>요금제명<span class="right"><%=fee_prod_nm%></span></div>
              <div>신청일자<span class="right"><%=fee_prod_scrb_dt.substr(0,4)+'.'+fee_prod_scrb_dt.substr(4,2)+'.'+fee_prod_scrb_dt.substr(6,2)%></span></div>
          </div>  
        </div>
        
        <div class="panel panel-warning">
          <div class="panel-heading">
            부가서비스 (신청일자)<span class="badge right">더보기</span>
          </div>
          <div class="panel-body">
              <!--부가서비스목록-->
              <%
              var vas_scrb_dt;
              for(var i=0; i<vas_list.length; i++){
                vas_scrb_dt = vas_list[i].vas_scrb_dt.substr(0,4)+'.'+vas_list[i].vas_scrb_dt.substr(4,2)+'.'+vas_list[i].vas_scrb_dt.substr(6,2);
              %>
                <div><%=vas_list[i].vas_nm%><span class="right"><%=vas_scrb_dt%></span></div>
              <%}%>
          </div> 
        </div>
                    
        <ul class="list-group">
          <li class="list-group-item">
            <span class="badge">2</span>
            단말할부정보
          </li>
          <li class="list-group-item">
            <span class="badge">2</span>
            청구계정정보
          </li>
          <li class="list-group-item">
            <span class="badge">1</span>
            Morbi leo risus
          </li>
        </ul>    
      </div>
</body>
</html>