<html>
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!--link href="/stylesheets/main.css" rel="stylesheet" type="text/css"-->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css">
    
    <style>
      .carousel-inner > .item > img, .carousel-inner > .item > a > img {
          width: 50%;
          height: 300px;
          }
        .navbar {
          background-color: #ffffff; /* yello */
        }

        .navbar-brand {
          color : #ffffff;
        }
        
    </style>
    
    <script>
      window.onload = function(){
        initProgress();
      }
      
      function initProgress() {
        initDataProgress();
        initVoiceProgress();
        initSmsProgress();
      }
      
      function initDataProgress() {
        var full_data = <%=full_data%>;
        var use_data = <%=use_data%>;
        var per_data = Math.round(use_data/full_data*100);
        var per_data_str = per_data+'%';
        
        var data_prog = document.getElementById("data_prog");
        data_prog.style.width = per_data_str;
        data_prog.innerHTML = per_data_str;
        
        proc_view("data_prog", per_data);
      }
      
      function initVoiceProgress() {
        var full_voice = <%=full_voice%>
        var use_voice = <%=full_voice%>
        var per_voice = Math.round(use_voice/full_voice*100);
        var per_voice_str = per_voice+'%';
        
        var voice_prog = document.getElementById("voice_prog");
        voice_prog.style.width = per_voice_str;
        voice_prog.innerHTML = per_voice_str;
        
        proc_view("voice_prog", per_voice);
      }
      
      function initSmsProgress() {
        var full_sms = <%=full_sms%>;
        var use_sms = <%=use_sms%>;
        var per_sms = Math.round(use_sms/full_sms*100);
        var per_sms_str = per_sms+'%';
        
        var sms_prog = document.getElementById("sms_prog");
        sms_prog.style.width = per_sms_str;
        sms_prog.innerHTML = per_sms_str;
        
        proc_view("sms_prog", per_sms);
      }
      
      function proc_view(elementid, data) {
        var proc_eid = document.getElementById(elementid);
        
        if (data < 30){
          proc_eid.className  = "progress-bar progress-bar-danger";  
        }else if (data < 60){
          proc_eid.className  = "progress-bar progress-bar-warning";  
        }else{
          proc_eid.className  = "progress-bar progress-bar-success"; 
        }
      }
      
    </script>
  </head>
  
  <body>
    
    <!-- header navigation -->
    <%- include ./partials/navigation.ejs %>
    
    
    <div class="section">
      
      <!-- 나의 서비스 정보 -->
      <div class="container">
        <div class="bs-callout bs-callout-info" id=callout-helper-context-color-specificity> 
          <p><h4>나의 서비스 정보</h4> <%=cust_name%> | <%=svc_num%> | <%=fee_prod_nm%></p> 
        </div>
      </div>
      
      
      <!-- 공제량 조회 -->
      <div class="container">
        <div class="row">
          <div class="col-xs-4">
            <h5>
              <span class="label label-default">Data</span>
            </h5>
            <div class="progress progress-striped active">
              <div class="progress-bar progress-bar" id="data_prog" role="progressbar"></div>
            </div>
          </div>
          <div class="col-xs-4">
            <h5>
              <span class="label label-default">Voice call</span>
            </h5>
            <div class="progress progress-striped active">
              <div class="progress-bar progress-bar" id="voice_prog" role="progressbar"></div>
            </div>
          </div>
          <div class="col-xs-4">
            <h5>
              <span class="label label-default">SMS / MMS</span>
            </h5>
            <div class="progress progress-striped active">
              <div class="progress-bar progress-bar" id="sms_prog" role="progressbar"></div>
            </div>
          </div>
        </div>
      </div>

      <!-- 업무 링크 -->
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4" style="background-color: #eeeeee">
            <div class="row">
              <div class="col-xs-6 col-sm-12">
                <h5>나의 상세정보</h5>  
              </div>
              <div class="col-xs-6 col-sm-12">
                <a href="/cust_info">
                  <img src="images/script-4-120.png" class="img-responsive max-width: 100px;, height: auto;, display: right-block;">    
                </a>  
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4" style="background-color: #eeeeee">
            <div class="row">
              <div class="col-xs-6 col-sm-12">
                <h5>요금제 조회</h5>  
              </div>
              <div class="col-xs-6 col-sm-12">
                <a href="/prod_chg">
                  <img src="images/coin-9-120.png" class="img-responsive max-width: 100px;, height: auto;, display: right-block;">    
                </a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4" style="background-color: #eeeeee">
            <div class="row">
              <div class="col-xs-6 col-sm-12">
                <h5>골드번호이벤트</h5>  
              </div>
              <div class="col-xs-6 col-sm-12">
                <a href="/num_mng/gold_list">
                <img src="images/lock-22-120.png" class="img-responsive max-width: 100px;, height: auto;, display: right-block;">
                </a>
              </div> 
            </div>
          </div>
        </div>
      </div>
      
    </div> <!-- END Section -->  
    
    <!-- EVENT -->
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div id="carousel-example" data-interval="5000" class="carousel slide"
            data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example" data-slide-to="1" class=""></li>
              </ol>
              <div class="carousel-inner">
                <div class="item active">
                  <a href="/num_mng/gold_list">
                    <img src="/images/pic_gold_num.jpg">
                  </a>
                </div>
                <div class="item">
                  <img src="/images/pic_event.jpg">
                </div>
              </div>
              <a class="left carousel-control" href="#carousel-example" data-slide="prev"><i class="icon-prev  fa fa-angle-left"></i></a>
              <a class="right carousel-control" href="#carousel-example" data-slide="next"><i class="icon-next fa fa-angle-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

      
      <!-- footer -->
    <div class="section">
      <%- include ./partials/footer.ejs %>
    </div>
    
    
    
  </body>

</html>