<html>
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ./partials/cssLink.ejs %>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script type="text/javascript" src="/javascripts/velocity.js"></script>
    
    <style>
    
    </style>
    
    <script>
      var curr_slide = 0;
  	  var curr_z = 200;
  	  var enterfr = 0;
  	  var totalslides = 0;
  	  
      window.onload = function(){
        initProgress();
        initTaskMouseEvent();
        initSlide();
      }
      
      function initProgress() {
        initDataProgress();
        initVoiceProgress();
        initSmsProgress();
      }
      
      function initDataProgress() {
        var full_data = <%=data.full_data%>;
        var use_data = <%=data.use_data%>;
        var per_data = Math.round(use_data/full_data*100);
        var per_data_str = per_data+'%';
        
        var data_prog = document.getElementById("data_prog");
        data_prog.style.width = per_data_str;
        data_prog.innerHTML = per_data_str;
        
        var data_prog_mo = document.getElementById("data_prog_mo");
        data_prog_mo.style.width = per_data_str;
        data_prog_mo.innerHTML = per_data_str;
        
        var data_text = use_data + ' GB 사용 | '+ <%=data.full_data%> + ' GB 제공';
        document.getElementById("data_text").innerHTML = data_text;
        document.getElementById("data_text_mo").innerHTML += data_text;
      }
      
      function initVoiceProgress() {
        var full_voice = <%=data.full_voice%>
        var use_voice = <%=data.use_voice%>
        var per_voice = Math.round(use_voice/full_voice*100);
        var per_voice_str = per_voice+'%';
        
        var voice_prog = document.getElementById("voice_prog");
        voice_prog.style.width = per_voice_str;
        voice_prog.innerHTML = per_voice_str;
        
        var voice_prog_mo = document.getElementById("voice_prog_mo");
        voice_prog_mo.style.width = per_voice_str;
        voice_prog_mo.innerHTML = per_voice_str;
        
        var voice_text = use_voice + ' 분 사용 | '+ <%=data.full_voice%> + ' 분 제공';
        document.getElementById("voice_text").innerHTML = voice_text;
        document.getElementById("voice_text_mo").innerHTML = voice_text;
      }
      
      function initSmsProgress() {
        var full_sms = <%=data.full_sms%>;
        var use_sms = <%=data.use_sms%>;
        var per_sms = Math.round(use_sms/full_sms*100);
        var per_sms_str = per_sms+'%';
        
        var sms_prog = document.getElementById("sms_prog");
        sms_prog.style.width = per_sms_str;
        sms_prog.innerHTML = per_sms_str;
        
        var sms_prog_mo = document.getElementById("sms_prog_mo");
        sms_prog_mo.style.width = per_sms_str;
        sms_prog_mo.innerHTML = per_sms_str;
        
        var sms_text = use_sms + ' 건 사용 | '+ <%=data.full_sms%> + ' 건 제공';
        document.getElementById("sms_text").innerHTML = sms_text;
        document.getElementById("sms_text_mo").innerHTML = sms_text;
      }
      
      function initTaskMouseEvent() {
        
        $('.hb_anim').mouseenter(function(){
  				$(this).find('.home_link').addClass('over');
  			}).mouseleave(function(){
  				$(this).find('.home_link').removeClass('over');
  			});
  			$('.hl_newslink').mouseenter(function(){
  				$('.hl_news').addClass('over');
  			}).mouseleave(function(){
  				$('.hl_news').removeClass('over');
  			});
  			
        /*
        var x = document.querySelectorAll(".hb_anim");
        
        for(var i=0, len = x.length; i<len; i++) {
          x[i].addEventListener('mouseover', function() { 
            var link = this.getElementsByClassName('home_link');
            
            //div.classList.add('over');
            console.log("mouseover " + link.className);
          }, false);
        
          x[i].addEventListener('mouseleave', function() { 
            var div = this.getElementsByClassName('home_link');
            //div.classList.remove('over');
            console.log("mouseleave " + div.className);
          }, false);
        }
        */
      } 
      
      function initSlide() {
        totalslides = $('.sug_item').length;
        //console.log('totalslides : ' + totalslides);
        
        $('.sug_next').click(function(){
    			nextslide();
    		});
    		$('.sug_prev').click(function(){
    			prevslide();
    		});
    		
    		setInterval(function() {
    			enterframe();
    		}, 1000);
    		
    		$('.sug_nav').css('z-index',curr_z); curr_z++;
      }
      
      function nextslide(){
  			var next_slide = curr_slide+1;
  			//var totalslides = parseFloat($('.si_total:eq(0)').html());
  			if (next_slide >= totalslides){next_slide = 0;}
  			slideshow_goto(next_slide);
  		}
    		
  		function prevslide(){
  			var next_slide = curr_slide-1;
  			//var totalslides = parseFloat($('.si_total:eq(0)').html());
  			if (next_slide < 0){next_slide = totalslides-1;}
  			slideshow_goto(next_slide);
  		}
    		
    	function slideshow_goto(id){
  			console.log('slide : ' + id);
  			if (curr_slide != id){
  				//console.log(id);	
  				$('.sug_item').stop(true,false).delay(300).velocity({opacity:0},{duration: 700, easing: "easeInOutCubic"});	
  				$('.si_'+id).stop(true,false).css('opacity',0).css('z-index',curr_z).css('display','block');
  				$('.si_'+id).stop(true,false).velocity({opacity:1},{duration: 700, easing: "easeInOutCubic"});	
  				curr_z++;
  				$('.sug_nav').css('z-index',curr_z); curr_z++;
  				enterfr = 0;			
  				curr_slide = id;
  			}
  		}
    		
  		function enterframe(){
  			enterfr++;
  			if (enterfr == 5){
  				nextslide();
  				enterfr = 0;
  			}
  		}

    </script>
    
    <% 
      var reco_prod_id, reco_prod_nm;
      if(locals.user_session && user_session.mvno_cd == 'M00035') {
        reco_prod_id = '578c7f62f36d287f8a9a7bba';
        reco_prod_nm = 'Band Data Ting28';
      }else {
        reco_prod_id = '5785911bdcba0f3bf61995dd';
        reco_prod_nm = 'Band데이터85';
      }
        
    %>
  </head>
  
  <body>
  
  <div class="section">
    
    <!-- header navigation -->
    <% include ./partials/navigation.ejs %>
      
    <div class="container-fluid main_info_box sitew"> 
      <div class="cust_div first">
        <h6 class="cust_info"><%=data.cust_name%> 고객님의 현재 요금제는 <a href="/prod_chg"><%=data.fee_prod_nm%></a> 입니다.</h6>  
      </div>
      <div class="cust_div hidemobile">
        <h6 class="cust_info"><%=data.mvno_nm%>에서 고객님의 사용량 데이터를 분석한 결과 <a href="/prod_chg/<%=reco_prod_id%>"><%=reco_prod_nm%></a> 요금제를 추천해드립니다.</h6>  
      </div>
      <div class="cust_div hidemobile">
        <%if(locals.user_session && user_session.mvno_cd == 'M00035') { %>
          <h6 class="cust_info">[당첨확인] SK텔링크가 선사하는 DATA쿠폰 DREAM 이벤트에 당첨!! </h6>
        <% }else { %>
          <h6 class="cust_info">[이벤트] SUMMER SPECIAL 이마트 쿠폰 이벤트가 2일 후 종료합니다. </h6>
        <% } %>
      </div>
      
      <!-- Data조회 PC용-->
      <div class="cust_div hidemobile">
        <div class="ibox cust_progbar_box ">
          <h6 class="cust_info">Data</h6>
          <div class="progress progress-striped active">
            <div class="progress-bar progress-bar-info" id="data_prog" role="progressbar"></div>
          </div>
          <h6 class="cust_info prog_data" id="data_text"></h6> 
        </div>
        <div class="ibox cust_progbar_box">
          <h6 class="cust_info">Voice call</h6>
          <div class="progress progress-striped active">
            <div class="progress-bar progress-bar-info" id="voice_prog" role="progressbar"></div>
          </div>
          <h6 class="cust_info prog_data" id="voice_text"></h6> 
        </div>
        <div class="ibox cust_progbar_box">
          <h6 class="cust_info">SMS / MMS</h6>
          <div class="progress progress-striped active">
            <div class="progress-bar progress-bar-info" id="sms_prog" role="progressbar"></div>
          </div>
          <h6 class="cust_info prog_data" id="sms_text"></h6>
        </div>  
      </div>
      
      <!-- Data조회 mobile용-->
      <div class="cust_div showmobile">
        <div class="ibox cust_progbar_box">
          <div>
            <h6 class="cust_info">DATA <span id="data_text_mo" style="float: right"></span></h6>
            <div class="progress progress-striped active">
              <div class="progress-bar progress-bar-info" id="data_prog_mo" role="progressbar"></div>
            </div>  
          </div>
        </div>
        <div class="ibox cust_progbar_box">
          <div>
            <h6 class="cust_info">Voice call <span id="voice_text_mo" style="float: right"></span></h6> 
            <div class="progress progress-striped active">
              <div class="progress-bar progress-bar-info" id="voice_prog_mo" role="progressbar"></div>
            </div>
          </div>
        </div>
        <div class="ibox cust_progbar_box">
          <div>
            <h6 class="cust_info">SMS/MMS <span id="sms_text_mo" style="float: right"></span></h6>
            <div class="progress progress-striped active">
              <div class="progress-bar progress-bar-info" id="sms_prog_mo" role="progressbar"></div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    
    <!-- 업무 링크 -->
    <div class="container-fluid sitew_big">
      <div class="ibox task_box_holder">
        <div class="bbox task_box_padding hb_anim">
          <div class="bbox_pos box_bg home_block border20" style="background-image:url('images/cust_info.jpg');">
            &nbsp;
            <div class='babox home_link hl'>
              <div class='bbox home_link_txt'>
                고객정보
              </div>
            </div>
            <a href='/cust_info' class="baboxfull">&nbsp;</a>
          </div>
        </div>
      </div>
      
      <div class="ibox task_box_holder">
        <div class="bbox task_box_padding hb_anim">
          <div class="bbox_pos box_bg home_block border20" style="background-image:url('images/prod_chg.jpg');">
            &nbsp;
            <div class='babox home_link hl' id="hh">
              <div class='bbox home_link_txt'>
                상품&요금
              </div>
            </div>
            <a href='/prod_chg' class="baboxfull">&nbsp;</a>
          </div>
        </div>
      </div>
      
      <div class="ibox task_box_holder">
        <div class="bbox task_box_padding hb_anim">
          <div class="bbox_pos box_bg home_block border20" style="background-image:url('images/charge.jpg');">
            &nbsp;
            <div class='babox home_link hl'>
              <div class='bbox home_link_txt'>
                충전
              </div>
            </div>
            <a href='/prod_chg' class="baboxfull">&nbsp;</a>
          </div>
        </div>
      </div>
      
      <div class="ibox task_box_holder">
        <div class="bbox task_box_padding hb_anim">
          <div class="bbox_pos box_bg home_block border20" style="background-image:url('images/benefit.jpg');">
            &nbsp;
            <div class='babox home_link hl'>
              <div class='bbox home_link_txt'>
                혜택안내
              </div>
            </div>
            <a href='/prod_chg' class="baboxfull">&nbsp;</a>
          </div>
        </div>
      </div>
      
      <div class="ibox task_box_holder">
        <div class="bbox task_box_padding hb_anim">
          <div class="bbox_pos box_bg home_block border20" style="background-image:url('images/bill.jpg');">
            &nbsp;
            <div class='babox home_link hl'>
              <div class='bbox home_link_txt'>
                청구서
              </div>
            </div>
            <a href='/prod_chg' class="baboxfull">&nbsp;</a>
          </div>
        </div>
      </div>
      
      <div class="ibox task_box_holder">
        <div class="bbox task_box_padding border20 hb_anim">
          <div class="bbox_pos box_bg home_block_sug border20 home_suggesties">
            <% if(data.mvno_co_cd == "M00035") { %>
                <% include ./event_slide/event_M00035.ejs %>
            <% }else{ %>
                <% include ./event_slide/event_M00145.ejs %>
            <% } %>
          	<a href='#' onclick='return false;' class='babox lapng sug_nav sug_prev'>&nbsp;</a>
			      <a href='#' onclick='return false;' class='babox rapng sug_nav sug_next'>&nbsp;</a>
			    </div>
        </div>
      </div>
    
  </div>  
  
  <!-- footer -->
  <% include ./partials/footer.ejs %>
    
  </body>

</html>