<!doctype html>
<html>
  
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


  <style>
      .container {
   
      }
      
      .row {
        
      }
      
      .right{
        float:right;
        text-align:right;

      }
  </style>
  
  <script type="text/javascript">
      var confirmCheck = false;
    
      function authSendOnclick() {
        alert("전송하였습니다.");
        document.getElementById("btnConfirm").disabled = false;
      }
  </script>
  
</head>

<body>
     
  <% include ../partials/navigation.ejs %>

        <div class="container">
            나의 회선번호<span class="badge right"><%=data2.svc_num%></span>
            <p></p>
            <div class="panel panel-default">
              <div class="panel-heading">
                <p class="text-danger"><%=data2.cust_name%> 님이 사용중인 요금제</p>
              </div>
              <div class="panel-body">
                  <h2><%=data2.fee_prod_nm%></h2>
                  <div>- Data 11GB</div>
                  <div>- 집전화/이동전화 무제한</div>
                  <div>- 문자 기본제공</div>
              </div>  
            </div>
        
            
            <table class="table table-striped table-hover ">
            <thead>
              <tr>
                <th>구분</th>
                <th>요금제</br>이용금액</th>
                <th>DATA</th>
                <th>음성</th>
                <th>문자</th>
              </tr>
            </thead>
            <tbody>
              <% if(data !=null) { %>
              <% data.forEach(function(e) { %>
              
              <tr>
                <td><%=e.prod_cl%></td>
                <td><a href="/prod_chg/<%= e._id %>"><%=e.prod_nm%></br><%=e.prod_fee%></a></td>
                <td><%=e.prod_data%></td>
                <td><%=e.prod_vo%></td>
                <td><%=e.prod_sms%></td>
              </tr>
              <% })} %>
            </tbody>
          </table> 
      </div>
      <div class="section">
            <% include ../partials/footer.ejs %>
      </div>

</body>
</html>