<!doctype html>
<html>
  
<head>
<meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ../partials/cssLink.ejs %>

  <style>
      .container {
   
      }
      
      .row {
        
      }
      
      .right{
        float:right;
        text-align:right;

      }
      #button{
        float: right;
      }
  </style>
  
  <script type="text/javascript">
    function chgProd (){
      document.chgForm.submit();
    }
  </script>
  
</head>

<body>
     
  <% include ../partials/navigation.ejs %>

  <script>
    var doc = document.querySelector('link[rel="import"]').import;
    // Grab DOM from doc.html's document.
    var text = doc.querySelector('.navbar navbar-default');
    document.body.appendChild(text.cloneNode(true));
  </script>
  
     
        <div class="container">
            <h5 class="text-primary"><i class="fa fa-tags fa-fw"></i> 요금제 > 요금제 변경하기<span class="badge right"><script>document.write("<%=data2.svc_num%>".formatTel());</script></span></h5>
            <p></p>
            <div class="panel panel-primary">
              <div class="panel-heading">
                <p class="panel-title"><%=data2.cust_name%> 님이 사용중인 요금제 : <b><%=data2.fee_prod_nm%></b></p>
              </div>
              <form name = "chgForm" action="/prod_chg" method = "post">
                <div class="panel-body">
                    <input name="cust[fee_prod_id]" type="hidden" value="<%= data.prod_cd %>">
                    <input name="cust[fee_prod_nm]" type="hidden" value="<%= data.prod_nm %>">
                    <h2><%=data.prod_nm%></h2>
                    <div>- Data <%=data.prod_data%></div>
                    <div>- 음성 <%=data.prod_vo%></div>
                    <div>- 문자 <%=data.prod_sms%>
                    <% if(data.prod_nm != data2.fee_prod_nm){ %>
                      <button id ="button" type="button" class="btn btn-primary btn-right" data-toggle="modal" data-target="#myModal">요금제 변경</button>
                    <% } %>
                    </div>
                </div>
              </form>
            </div>
            
            <!-- modal -->
             <div class="modal fade" id="myModal" role="dialog" style="text-align:left">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">요금제 변경</h4>
                  </div>
                  <div class="modal-body">
                    <p>요금제를 변경하시겠습니까? <br><br>변경전 : <strong><%=data2.fee_prod_nm%><br><font class="text-primary">변경후: <%= data.prod_nm %></font></strong></p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary" onClick ="chgProd();">요금제 변경</button>
                  </div>
                </div>
              </div>
            </div>
            
          <ul class="nav nav-tabs">
            <li class="active"><a href="#intro" data-toggle="tab" aria-expanded="true">서비스 개요</a></li>
            <li><a href="#description" data-toggle="tab" aria-expanded="true">요금 및 혜택</a></li>
            <li><a href="#note" data-toggle="tab" aria-expanded="true">유의 사항</a></li>  
          </ul>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="intro">
              <h5><strong><%=data.prod_etc%></strong></h5>
               <% if(data.img_url1) {%>
              <p><img src="/images/<%=data.img_url1%>.png" class="img-responsive max-width: 100px;, height: auto;, display: right-block;"></p>
              <%}%>
              <% if(data.img_url2) {%>
              <p><img src="/images/<%=data.img_url2%>.png" class="img-responsive max-width: 100px;, height: auto;, display: right-block;"></p>
              <%}%>
              <% if(data.img_url3) {%>
              <p><img src="/images/<%=data.img_url3%>.png" class="img-responsive max-width: 100px;, height: auto;, display: right-block;"></p>
              <%}%>
            </div>
            <div class="tab-pane fade" id="description">
              <p><%=data.description%></p>
            </div>
            <div class="tab-pane fade" id="note">
              <p><%=data.note%></p>
            </div>
            
          </div>  
        </div>
        <div class="section">
              <% include ../partials/footer.ejs %>
        </div>          

</body>
</html>