<!doctype html>
<html>
  
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <style>
      .container {

      }
      
      .row {
        
      }
      
      .right{
        float:right;
        text-align:right;

      }
  </style>
  
  <script type="text/javascript">
      var confirmCheck = false;
    
      function authSendOnclick() {
        alert("전송하였습니다.");
        document.getElementById("btnConfirm").disabled = false;
      }
  </script>
  
<script>
  function process (){
    var obj = document.evntForm.achvradio;
    alert(obj.value);
    document.achvForm.submit();
  }
</script>
  
</head>

<body>

<% include ../partials/navigation.ejs %>



<div class="container">
  골드번호 이벤트
  <p></p>
        <div class="panel panel-default">
          <div class="panel-heading">
            <p class="text-danger">step3. 응모번호 확인 및 취득유형 선택</p>
          </div>
          <div class="panel-body">
            <form name="achvForm" action="/evnt_mng" method="post">
              
                <% if(data!=null) { %>
                  <% data.forEach(function(e){ %>
                  
                    <h5>
                      고객님이 선택한 <%= e._id.gold_svc_num %> 번호로 응모되며,<br>
                      현재 동일한 번호로 <%= e.count %>명이 응모 하셨습니다.
                    </h5>
                    
                    <input name="gold_svc_num" type="hidden" value="<%= e._id.gold_svc_num %>">
                    
                  <% })  %>
                <% } %>
                  
                  <% if(data!=null && data.length==0
                      && data2!=null && data2.length > 0) { %>
                      <h5>
                        고객님이 선택한 <%= data2 %> 번호로 응모되며,<br>
                        현재 동일한 번호로 0명이 응모 하셨습니다.
                      </h5>
                      <input name="gold_svc_num" type="hidden" value="<%= data2 %>">
                  <% } %>
            
            <% if(data2!=null && data2.length > 0) { %>
                <h5>
                  골드번호 당첨 시 취득 유형을 선택하여 주세요.
                </h5>
                  <label>
                    <input type="radio" name="achvradio" value="1">010신규
                    <input type="radio" name="achvradio" value="2">번호이동
                    <input type="radio" name="achvradio" value="3">기기변경
                    <input type="radio" name="achvradio" value="4">번호변경
                  </label>
              
                
                <h5>
                  - 응모한 취득 유형으로만 골드번호를 취득할수 있습니다.<br>
                  - 선불(PPS)고객은 프로모션 응모는 가능하지만, 당첨된 골드번호는 후불번호로만 취득 가능합니다.<br>
                </h5>
                
              
              <button onclick="process()" class="btn btn-danger">응모하기</button>
              <!--<button onclick="process()">다른번호선택</button>-->
              <a href="/num_mng/gold_list">다른번호선택</a>
              </form>
            
            <% } %>
            
            <% if(data3!=null) { %>
                  <% data3.forEach(function(e){ %>
                    <h5>
                      고객님이 선택한 <%= e._id.gold_svc_num %> 번호로 응모되었습니다.<br>
                      현재 동일한 번호로 <%= e.count %>명이 응모 하셨습니다.
                    </h5>
                  <% })  %>
            <% } %>
          </div>
        </div>
        
</div>
        
        
    <div class="section">
      <% include ../partials/footer.ejs %>
    </div>
    
</body>
</html>