<!doctype html>
<html>
  
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<script>
  function process (){
    var obj = document.evntForm.achvradio;
    alert(obj.value);
    document.achvForm.submit();
  }
</script>
  
</head>

<body>

<form name="achvForm" action="/evnt_mng" method="post">

  <div>
    <p>
      <h3>step3. 응모번호 확인 및 취득유형 선택</h3>
      <ul>
          <% if(data!=null) { %>
            <% data.forEach(function(e){ %>
            
              <h5>
                고객님이 선택한 <%= e._id.gold_svc_num %> 번호로 응모되며,<br>
                현재 동일한 번호로 <%= e.count %>명이 응모 하셨습니다.
              </h5>
              
              <input name="gold_svc_num" type="hidden" value="<%= e._id.gold_svc_num %>">
              
            <% })  %>
          <% } else if(data2!=null) { %>
            
              <h5>
                고객님이 선택한 <%= data2 %> 번호로 응모되며,<br>
                현재 동일한 번호로 0명이 응모 하셨습니다.
              </h5>
              <input name="gold_svc_num" type="hidden" value="<%= data2 %>">
              
          <% } %>
      </ul>
      

      <% if(data!=null || data2!=null) { %>
      
        <ul>
          <h5>
            골드번호 당첨 시 취득 유형을 선택하여 주세요.
          </h5>
          
            <label>
              <input type="radio" name="achvradio" value="1">010신규
              <input type="radio" name="achvradio" value="2">번호이동
              <input type="radio" name="achvradio" value="3">기기변경
              <input type="radio" name="achvradio" value="4">번호변경
            </label>
        </ul>
        
        <ul>
          <h5>
            - 응모한 취득 유형으로만 골드번호를 취득할수 있습니다.<br>
            - 선불(PPS)고객은 프로모션 응모는 가능하지만, 당첨된 골드번호는 후불번호로만 취득 가능합니다.<br>
          </h5>
        </ul>
        
        <button type="submit">응모하기</button>
        <button>다른번호선택</button>
      
      <% } else { %>
      
            <% data3.forEach(function(e){ %>
              <h5>
                고객님이 선택한 <%= e._id.gold_svc_num %> 번호로 응모되었습니다.<br>
                현재 동일한 번호로 <%= e.count %>명이 응모 하셨습니다.
              </h5>
            <% })  %>
            
      <% } %>
    
    </p>
  </div>

</form>

</body>
</html>